#profile-pic {
    background-color: #1877F2;
    border-radius: 23% 77% 70% 30% / 30% 75% 25% 70%;
}

@keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path {
	stroke: #1877F2;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
}

.arrows path.a1 {
	animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
}

.arrows path.a3 {
	animation-delay:0s;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
  }

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
